{% extends "index.html" %}
{% block title %} Antecedentes {% endblock %}
{% block contenido %} 

<httpProtocol>
    <customHeaders>
      <add name="X-Frame-Options" value="SAMEORIGIN" />
    </customHeaders>
  </httpProtocol>
 
    <iframe height=100% width=100% src="https://apps.procuraduria.gov.co/webcert/Certificado.aspx?t=dAylAkFT/gSkkvpDoI89aORiq2C8LI3z9uHAnBFaF08/32nPrGQhH4HhIkyJHgMD30HMssetl+/u/q4zoRn1zYH7hnSx68rXQvmFZoJQduVipvVlkwZR+TABjraDbp0hlrwP2GCLMX8Rl+aw1u6GwgGEkvY16WZ4qm8sL17YyY5FLVGWSy+Eys6FEeWWKx6G+Rm/XaHa4L9eayTZkhzvIL4bJrDB501fmA/wv3NJ74I=&tpo=2"></iframe>
   
       
 
{% endblock %}

abc
